/*-----------------------------------------------------------------

Project     :   Zeeper App Landing Page
Author      :   thememeta
Author URI  :   https://themeforest.net/user/thememeta

-------------------------------------------------------------------*/

/*------------------------------------------------------------------

[Table of contents]

Default CSS
Preloader
Header
Banner
Section Heading
About
services
Why Choose Us
App Screenshots
Demo Video
How It Work
Counter
Faq
Testimonial
Download
Team
Newsletter
Latest Blog
Contact
Footer
Blog Page
Blog Single Page

---------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------
    Default CSS
---------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #373737
}


ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

a {
    color: #2c3e50;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    font-weight: 400
}

h1 {
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-size: 30px;
    line-height: 40px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
    font-weight: 500
}

blockquote {
    color: #777777;
}

.font-700 {
    font-weight: 700
}

.font-600 {
    font-weight: 600
}

.font-500 {
    font-weight: 500
}

.text-uppercase {
    text-transform: uppercase
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.m-0 {
    margin: 0
}

.p-0 {
    padding: 0
}

.color-white {
    color: #fff!important
}

.color-black{
    color: #000!important;
}

.color-base {
    /* color: #cd0fd8!important */
    color: #ff004f!important;
}

.color-base2 {
    color: #8744EA!important
}

.form-control {
    border: 1px solid #e6f1f1;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    border-radius: 2px
}
.main-gradient-text {
    background-image: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}
.main-gradient{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 100% auto;
    background-image: -webkit-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
    background-image: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
}

.bg-gray {
    background-color: #f5f5f5
}

/*-------------------------------------------------------------------------------
     Backgroud banner color design 
---------------------------------------------------------------------------------*/
.overlay {
    background: rgb(216, 15, 28) 0%;
    background: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(0, 0, 0));
    background: -webkit-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(0, 0, 0));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.90
}
.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fix {
    overflow: hidden
}

.full-height {
    height: 100vh
}

.position-relative {
    position: relative
}

.btn-lg a {
    padding: 8px 40px;
    border-radius: 30px;
    display: inline-block;
    font-weight: 500;
    margin-right: 10px;
    font-size: 16px;
    color: #fff
}

.btn-lg a i {
    font-size: 30px;
    padding-right: 10px;
    display: inline-block;
    margin: 6px 0 0;
}

/*-------------------------------------------------------------------------------
    Preloader
---------------------------------------------------------------------------------*/
.preloader {
    background: rgba(52, 131, 255, 1);
    background: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
    background: -webkit-gradient(-45deg, rgb(216, 15, 28) 0%, rgba(52, 131, 255, 1) 100%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/*-------------------------------------------------------------------------------
    Header
---------------------------------------------------------------------------------*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9
}

nav.navbar.bootsnav ul.nav > li > a {
    color: #fff;
    font-size: 16px;
}
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li > a:hover {
    color: #ff004f;
}
/* To make the line under the nav menu */
nav.navbar.bootsnav ul.nav > li > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 8px;
    bottom: 18px;
    transition: 0.5s;
}
/* To make the line under the nav items show on hover */
nav.navbar.bootsnav ul.nav > li > a:hover::after{
    width: 80%;
}

.attr-nav > ul > li > a {
    background-color: #fff;
    color: #ff004f;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: 500;
    margin: 20px 0 20px 10px;
}

.navbar {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: 0;
    z-index: 9;
}

.navbar.affix-top {
    position: static;
    top: -10px;
}

/* Navbar menu background color */
.navbar.affix {
    background: rgba(52, 131, 255, 1);
    background: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 254, 254) 100%);
    background: -webkit-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(253, 252, 252) 100%);
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    height: 90px;
}

/*-------------------------------------------------------------------------------
    Banner
---------------------------------------------------------------------------------*/

.caption-content {
    padding: 25% 0;
}

.caption-content p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 40px
}
/* read more button */
.caption-btn a {
    display: inline-block;
    border: 2px solid #fff;
    margin: 0 15px 0 0;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 4px 3px 3px 2px rgb(231, 194, 194);
    transition: background 0.5s, transform 0.5s;
}
.caption-btn a:hover {
    background-color: #ff004f;
    border: none;
    transform: translateY(-2px);
}

.curve-bg {
    background-image: url(../images/curve-bg.jpg);
    background-position: bottom;
}

/*-------------------------------------------------------------------------------
    Slider
---------------------------------------------------------------------------------*/

#slider .overlay {
    opacity: 0.8
}

.slide-content {
    padding: 35% 0 0;
}

.slide-img {
    padding: 20% 0 0;
}

.slide-content p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 40px
}

.slide-img img {
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
}

/* .slider-carousel .owl-nav > div {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.5);
} */
/* 
.slider-carousel .owl-nav > div:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */
/* 
.slider-carousel .owl-nav .owl-next {
    left: auto;
    right: 10px
} */

.slider-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
}

.slider-carousel .owl-dot {
    width: 30px;
    height: 6px;
    border: 2px solid #fff;
    display: inline-block;
    margin: 0 4px
}

.slider-carousel .owl-dot.active {
    background-color: #fff
}


/*-------------------------------------------------------------------------------
    Section WHAT WE DO SECTION STYLING
---------------------------------------------------------------------------------*/
.what-we-do{
    display: flex;
    justify-content: center;
    height: 150px;
    gap: 50px;
    .what-left{
        background-color: #f3ecec;
        height: 140px;
        width: 30%;
        position: relative;
        top: -30px;
        box-shadow: 5px 10px 18px lightblue;
        z-index: 2;
        transition: background 0.7s, transform 0.7s;
        text-align: center;
    }
    .what-right{
        background-color:#f3ecec;
        height: 140px;
        width: 30%;
        position: relative;
        top: -30px;
        box-shadow: 5px 10px 18px lightblue;
        z-index: 2;
        transition: background 0.7s, transform 0.7s;
    }
    .what-left:hover{
        cursor: pointer;
        background: #fff;
        transform: translateY(-8px);
    }
    .what-right:hover{
        cursor: pointer;
        background: #fff;
        transform: translateY(-8px);
    }
}

.what-we-do .what-left h3{
    font-size: 18px;
    font-weight: 600;
}
.what-we-do .what-left a{
    color: #ff004f;
    font-weight: 500;
}
.what-we-do .what-left a:hover{
    transform: scaleX(20px);
}




/*-------------------------------------------------------------------------------
    Section Heading
---------------------------------------------------------------------------------*/

.section-heading {
    margin: 0 0 70px;
}

/*-------------------------------------------------------------------------------
    About
---------------------------------------------------------------------------------*/

#about {
    padding: 50px 0 95px
}

.about-img {
    margin-right: 30px;
    img{
        border-radius: 6px;
    }
}
.about-content h3 {
    margin: 0 0 20px;
}
.about-content span{
    font-weight: 900;
    padding-right: 5px;
}
.hidden-text {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.show-text {
    display: inline;
}
.about-us-btn {
    margin: 20px 0 0;
    border-radius: 0px;
    a{
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        box-shadow: 3px 3px 3px #ff004f;
    }
}

/*-------------------------------------------------------------------------------
    Service section styling
---------------------------------------------------------------------------------*/

#services {
    padding: 70px 0 85px;
}
.service-icon-div{
    transition: background 0.7s, transform 0.7s;
}
.service-icon-div i {
    font-size: 30px;
    border-radius: 20px 0;
    padding: 20px;
    display: inline-block;
    margin: 0 0 10px
}
.service-icon-div:hover i {
    cursor: pointer;
    transform: translateY(-8px);
}

/*-------------------------------------------------------------------------------
    Why Choose Us
---------------------------------------------------------------------------------*/

#why-choose {
    padding: 90px 0 50px
}

.why-choose-content{

    hr{
        margin: 0 0 30px;
    }
}
.why-chose-icon {
    width: 15%;
}

.why-chose-icon i {
    font-size: 30px;
    padding: 12px;
    border-radius: 6px;
    display: inline-block;
    background: #ff004f;
    background: #ff004f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #ff004f;
}

.why-choose-single {
    margin: 0 0 30px;
}

.why-choose-single-details {
    width: 82%;
}

.why-choose-single-details h5 {
    margin: -6px 0 6px;
}
.why-choose-img img{
    height: 600px;
    width: 500px;
    border-radius: 8px;
}


/*-------------------------------------------------------------------------------
    Popular products div 
---------------------------------------------------------------------------------*/
#popular-products{
    background-image: url(../images/slider-img.png);
    background-attachment: fixed;
    padding: 60px 0 100px
}
.popular-products{
   color: #fff;
}
.polaroid {
    width: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 2px #ff004f;
  }
  
  div.rotate_right {
    float: left;
    transform: rotate(10deg);
  }
  
  div.rotate_left {
    float: left;
    transform: rotate(-20deg);
  }


/*-------------------------------------------------------------------------------
    Counter
---------------------------------------------------------------------------------*/

#counter {
    background-image: url(../images/slider-img.png);
    background-attachment: fixed;
    padding: 60px 0
}

.counter-item i {
    font-size: 36px;
    border: 2px solid #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 15px;
}

.counter-item h4 {
    margin: 5px 0 0;
}


/*-------------------------------------------------------------------------------
    Testimonial
---------------------------------------------------------------------------------*/

#testimonial {
    padding: 50px 0;
}

.testimonial-carousel.owl-carousel {
    background-color: #fff;
    padding: 0 50px 100px;
    border-radius: 30px 0;
}

.client-info h4 {
    margin: 10px 0 0;
}

.client-info img {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    height: 100px;
    -webkit-box-shadow: 0 0 6px #e6f0fa;
    box-shadow: 0 0 6px #e6f0fa;
    border: 1px solid #e6f0fa;
}

.testimonial-border {
    background: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
    height: 170px;
    width: 5px;
}

.client-comment p {
    font-style: italic;
    letter-spacing: 1px
}

.client-comment i {
    color: #fac917;
    padding: 0 2px
}

.client-comment i.icofont.icofont-quote-right {
    font-size: 50px;
    color: #e6f0fa;
    padding-right: 100px;
}

.testimonial-carousel .owl-dots {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 60px;
    width: 100%
}

.testimonial-carousel .owl-dot {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid #ff004f;
    margin: 0 4px
}

.testimonial-carousel .owl-dot.active {
    background: #ff004f;
    background: linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
    background: -webkit-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255));
}


/*-------------------------------------------------------------------------------
    Team
---------------------------------------------------------------------------------*/

#team {
    padding: 70px 0 100px
}

.team-single {
    border-radius: 10px;
    border: 1px solid #e6f0f1;
    -webkit-box-shadow: 0 0 10px #e6f0f1;
    box-shadow: 0 0 10px #e6f0f1;
}

.team-single:hover .team-social {
    bottom: 0;
    opacity: 1;
    visibility: visible
}

.team-social {
    position: absolute;
    left: 0;
    bottom: -80px;
    background-color: #ff004f;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden
}

.team-social ul li {
    display: inline-block;
}

.team-social ul li a {
    display: block;
    color: #fff;
    padding: 6px 10px;
    border: 2px solid #fff;
    font-size: 20px;
    border-radius: 4px;
}

.team-social ul li a:hover {
    background-color: #fff;
    color: #ff004f
}

.team-member-info {
    background-color: #fff;
    padding: 20px 0
}


/*-------------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------------*/

#footer {
    background: linear-gradient(-45deg, rgba(216, 15, 28, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 20px 0;
    h5{
        font-weight: 600;
    }
}
.footer-contact-us i{
    font-size: 20px;
}
.subscribe-form {
    transition: background 0.5s, transform 0.5s;
    p{
        margin-bottom: 0%;
    }
    label{
        color: #fff;
        margin-top: 20px;
    }
    input{
        margin-bottom: 20px;
        border-radius: 6px;
        caret-color: #ff004f;
        border: none;
    }
    a{
        border-radius: 6px;
        color: #fff;
        padding: 10px;
    }
}
.subscribe-btn:hover{
    color: #fff;
    font-weight: 800;
    /* transform: translateY(-8px); */
}
.footer-social ul li {
    display: inline-block;
}
.footer-social li a {
    color: #ff004f;
    border: 2px solid #ff004f;
    padding: 3px 6px;
    font-size: 16px;
    display: block;
    border-radius: 6px;
    margin: 0 2px;
}
.footer-social li a:hover {
    color: #fff;
    background-color: #ff004f
}


/*-------------------------------------------------------------------------------
    Back to Top styling
---------------------------------------------------------------------------------*/
.click-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    overflow: hidden;
    border-radius: 50%;
}
.click-to-top > a {
    color: #fff;
    display: block;
    font-size: 22px;
    padding: 6px 10px;
    background: rgba(216, 15, 28, 1);
    background: linear-gradient(-45deg, rgba(216, 15, 28, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(-45deg, rgba(216, 15, 28, 1) 0%, rgba(255, 255, 255, 1) 100%);
}





/*-------------------------------------------------------------------------------
    Contact Page Sytling
    --------contact form---------
---------------------------------------------------------------------------------*/
#contact {
    padding: 70px 0 70px
}
.contact-contents{
    padding: 30% 0 30%;
}
.contact-contents p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px
}
.contant-quick-call-btn{
    padding-top: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    transition: background 0.5s, transform 0.5s;
    a{
        color: #fff;
        border: 2px solid #fff;
        padding: 8px;
    }
}
.contant-quick-call-btn a:hover {
    /* background:linear-gradient(-45deg, rgb(216, 15, 28) 0%, rgb(255, 255, 255)); */
    background-color: #ff004f;
    border: none;
    transform: translateY(-2px);
}
.contact-info {
    padding: 30px 0;
    margin: 0 0 30px;
    border-radius: 25px 25px 0 0;
    border: 1px solid #e6f0fa;
    background-color: #fff
}

.contact-info-single {
    transition: background 0.5s, transform 0.5s;
    i{
        font-size: 30px;
        padding: 8px;
        border-radius: 10px 0;
        display: inline-block;
        margin: 0 0 15px;
    }
}

.contact-info-single:hover {
    transform: translateY(-3px);
}

.contact-form-content {
    border-radius: 0 0 25px 25px;
    padding: 50px;
    border: 1px solid #e6f0fa;
    background-color: #fff
}

.contact-form-content h3 {
    margin: 0 0 25px;
}

.contact-form input {
    height: 50px
}

.contact-btn button {
    border: 0;
    padding: 10px 25px;
    border-radius: 2px;
}

#map {
    width: 100%;
    height: 420px;
}



/*-------------------------------------------------------------------------------
    Faq
---------------------------------------------------------------------------------*/
#faq {
    padding: 50px 0 100px
}

#accordion {
    padding: 70px 0 0;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.panel-default {
    border-color: #e6f0f1;
    -webkit-box-shadow: 0 0 8px #e6f0f1;
    box-shadow: 0 0 8px #e6f0f1;
}

.panel-title > a {
    font-size: 18px;
    line-height: 28px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e6f0fa;
    color: #777;
}

.panel-heading .accordion-toggle:after {
    font-family: 'IcoFont';
    content: "\eb7a";
    float: right;
    color: #8744EA;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\eb73";
}

.faq-img img {
    max-width: 350px;
}
